.widget {
    flex: 0.2;
    top:80px;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 10px;
    border: 1px solid lightgrey;
    height: fit-content;
    position: sticky;
}

.widget_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.widget_header >h2 {
    font-size: 16px;
    font-weight: 400;
}
.widget_article {
    cursor: pointer;
    padding: 10px;
    display: flex;

}
.widget_article:hover {
    background-color: whitesmoke;
}
.widgetarticle_left {
    color:#0177b7;
    margin-right:5px;
}
.widgetarticle_right{
    flex :1
}
.widgetarticle_right >h4 {
    font-size: 14px;
}
.widgetarticle_right >p {
    font-size: 12px;
    color:gray;
}
